<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Candidates</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="#">Election System</a>
        <div class="navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/elections">Elections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/candidates">Candidate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/parties">Party</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>List of Candidates</h2>
        </div>
        <div class="col-md-6 text-right">
            <a href="/admin/add-candidate" class="btn btn-primary">Add Candidate</a>
        </div>
    </div>
    <table class="table mt-3">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Party</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="candidate : ${candidates}">
            <td th:text="${candidate.id}"></td>
            <td th:text="${candidate.name}"></td>
            <td th:text="${candidate.gender}"></td>
            <td th:text="${candidate.age}"></td>
            <td th:text="${candidate.party.name}"></td>
            <td>
                <form method="post" th:action="@{/admin/delete-candidate}">
                    <input type="hidden" name="id" th:value="${candidate.id}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
